/*
    reset
*/
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
    font: 16px Helvetica, Arial, sans-serif;
}


/*
    all
*/
.block_content{
    margin: 0 auto;
    width: 95%;
}
.button{
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #888;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
}
.button:hover{
    background-color: rgba(45, 114, 217,.7);
    color: #f1f1f1;
}
.batton_activate{
    border: 1px solid #000;
    color: #f1f1f1;
    background-color: #2d72d9;
}
.button_width-all{
    width: 100%;
}
.button_submit{
    float: right;
    margin-top: 10px;
}
.input{
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #2d72d9;
    border: 1px solid #888;
    background-color: #fff;
    outline: none;
    padding: 0 5px;
    box-sizing: border-box;
}
.input_date{
    background-image: url(../img/i.png);
    background-position: right 0;
    background-repeat: no-repeat;
}
.input_time{
    background-image: url(../img/i.png);
    background-position: right -30px;
    background-repeat: no-repeat;
}
.input_title{
    padding: 15px 0 10px;
    font-weight: normal;
}
.textarea{
    width: 100%;
    height: 80px;
    font-size: 18px;
    color: #2d72d9;
    border: 1px solid #888;
    background-color: #fff;
    outline: none;
    padding: 3px 5px;
    box-sizing: border-box;
    resize: none;
}
.after_float_block:after{
    content: '';
    clear: both;
    display: block;
}
.input_checkbox_label_span{
    padding-left: 10px;
}
h4{
    padding-bottom: 10px;
}
.popup{
    border: 1px solid #2d72d9;
    margin: 5px;
    padding: 5px;
    color: #333;
    background: #fff;
    opacity: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    transition: opacity .15s ease-out;
    z-index: 100;
    position: absolute;
}
.popup_info{
    width: 200px;
    min-height: 50px;
    margin-left: -100px;
    margin-top: -25px;
    position: fixed;
    opacity: 1;
    text-align: center;
    left: 50%;
    top: 50%;
    line-height: 22px;
}
.popup_error{
    border-color: #f00;
    -webkit-box-shadow: 0px 0px 30px rgba(255, 0, 0, .7);
    -moz-box-shadow: 0px 0px 30px rgba(255, 0, 0, .7);
    box-shadow: 0px 0px 30px rgba(255, 0, 0, .7);
}
.popup_ok{
    border-color: #48B484;
    -webkit-box-shadow: 0px 0px 30px rgba(72, 180, 132, .7);
    -moz-box-shadow: 0px 0px 30px rgba(72, 180, 132, .7);
    box-shadow: 0px 0px 30px rgba(72, 180, 132, .7);
}

/*
    filter
*/
.b-filter{
}
.filter__block{
    padding-bottom: 10px;
}
.b-search{
}
.search__input{
}
.b-select__item{
    float: left;
    width: 30%;
    margin-left: 5%;
}
.b-select__item:nth-child(1){
    margin-left: 0;
}
.select__item{
    border: 1px solid #888;
    background-color: #fff;
    outline: none;
    color: #2d72d9;
    font-size: 18px;
    width: 100%;
}
.filter_title{
    border-bottom: 1px dashed;
    cursor: pointer;
}
.filter_title:hover{
    color: #2d72d9;
}

/*
    adminstiration
*/
.b-adminstiration{
    padding: 10px 0;
}
.b-adminstiration__edit{
    display: none;
    margin: 10px 0;
}
.b-adminstiration__edit-show{
    display: block;
}


.select_actions_block{
    position: relative;
    line-height: 20px;
    border: 1px solid #888888;
    margin-top: 10px;
    padding-right: 30px;
    text-align: left;
}
.select_actions_close{
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
}
.select_actions_close::after{
    content: '\2716';
}
.select_actions_close:hover::after {
    color:#ff0000;
}
.schedule__set-date-time{
    border: 1px solid #2d72d9;
    margin: 5px;
    padding: 5px;
    color: #333;
    background: #fff;
    opacity: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    transition: opacity .15s ease-out;
    z-index: 100;
    position: absolute;
}
.select_date_button{
    display: block;
    margin-bottom: 10px;
}
.adminstiration__add_date{
    margin-bottom: 10px;
}
.adminstiration__add_time{
    margin-bottom: 10px;
}
.adminstiration__add_title-show{
    display: block;
}
.adminstiration__add_title-hide{
    display: none;
}
.adminstiration__add_lectures-title{
    display: block;
    text-align: right;
}
.adminstiration__add_lectures-show{
    display: inline-block;
}
.adminstiration__add_lectures-hide{
    display: none;
}
/*
    calendar
*/


/*
    schedule
*/
.b-schedule{
}
.b-schedule__item,
.b-schedule__sort{
    display: table;
    width: 100%;
}
.search_nothing_found{
    display: none;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}
.search_nothing_found-show{
    display: block;
}
.b-schedule__item_filter_hide{
    display: none;
}

.b-schedule__section{
    display: table-row;
}
.b-schedule__section_ended{
    background-color: #f1f1f1;
}

.b-schedule__section-header{
}
.schedule__school-header{
    text-align: center;
    font-weight: bold;
}

.schedule__item{
    border: 1px solid #ccc;
    margin: 5px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.schedule__item_valign-top{
    vertical-align: top;
}

.schedule__school{
    width: 200px;
    font-size: 18px;
}
.schedule__theme{
    font-size: 16px;
    font-weight: bold;
}
    .schedule__theme_edit{
        float: right;
        display: none;
    }
    .schedule__theme_edit-show{
        display: block;
    }
.schedule__reader{
    width: 200px;
}
    .js-schedule__show_tooltip{
        text-align: center;
        padding-top: 5px;
    }
    .js-schedule__show_tooltip:first-child{
        padding: 0;
    }
    .js-schedule__show_tooltip.js-schedule__show_tooltip-presence:hover .js-schedule__show_tooltip-reader{
        border-color: #fff;
        color: #2d72d9;
    }
        .js-schedule__show_tooltip-presence .js-schedule__show_tooltip-reader{
            border-bottom: 1px dotted;
        }
    .schedule__reader-tooltip{
        border: 1px solid #2d72d9;
        margin: 5px;
        padding: 5px;
        color: #333;
        background: #fff;
        opacity: 0;
        -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        transition: opacity .15s ease-out;
        z-index: 100;
        position: absolute;
        max-width: 400px;
    }
    .schedule__reader-tooltip-mobile{
        border: 1px solid #2d72d9;
        margin: 5px;
        padding: 5px;
        color: #333;
        opacity: 0;
        transition: opacity .15s ease-out;
    }
.schedule__block_date{
    width: 200px;
    text-align: right;
}
    .schedule__block_date-date{
    }
    .schedule__block_date-time{
        padding: 3px 0;
        font-weight: bold;
    }
    .schedule__block_date-place{
        font-style: italic;
        padding-top: 10px;
    }
    .schedule__block_date-buttons{
        padding-top: 10px;
    }
    .schedule__date-action{
        color: #2d72d9;
        padding: 3px 5px;
        display: inline-block;
        text-decoration: none;
        transition: .3s ease-out;
        width: 70px;
        text-align: center;
    }
    .schedule__date-action:hover{
        color: #000;
        text-decoration: underline;
    }


@media screen and (max-width: 1000px) {
    .schedule__item{
        width: 25%;
    }
    .schedule__date-action:last-child{
        margin-top: 5px;
    }
}
@media screen and (max-width: 780px) {
    .b-schedule__item,
    .b-schedule__section,
    .schedule__item{
        display: block;
        width: auto;
    }
    .b-schedule__item.b-schedule__item_filter_hide{
        display: none;
    }
    .schedule__school,
    .schedule__reader,
    .schedule__date{
        width: auto;
    }
    .b-schedule__section{
        -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        margin: 10px 0px;
        padding: 5px;
        border: 1px solid #888;
    }
    .schedule__date-action:last-child{
        margin-top: auto;
    }
    .b-schedule__section-header{
        display: none;
    }
    .b-select__item{
        float: none;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .schedule__item_mobile-none{
        display: none;
    }
}